body{
	font-family: sans-serif;
	width: 70vw;
	margin: auto;
}

img{
	max-width: 100%;
}

#loader{
	font-family: monospace;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: white;
	font-size: 2em;
	padding-left: 40%;
	line-height: 100vh;
}

.hide{
	display: none;
}

#carlist{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1em;
}

#carlist article{
	border: orange solid 1px;
	border-radius: .5em;
	padding: .1em 1em;
}

#carlist a, #cat-nav a{
	display: inline-block;
	margin-top: .5em;
	text-decoration: none;
	padding: .3em 1em;
	border-radius: .5em;
	background-color: skyblue;
	color: white;
}

#cat-nav a{
	margin: .5em;
}

#carlist a:hover, #cat-nav a:hover{
	background-color: orange;
}
