body{
	font-family: monospace;
}
h2{
	background: orange;
}
#loader{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: white;
	font-size: 2em;
	padding-left: 40%;
	line-height: 100vh;
}
.hide{
	display: none;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
li{
	display: inline-block;
}
figure{
	padding: 0;
	margin: 0;
}
